/* cancel skeleton-framework */
body{
	font-size: 1.2rem;
	line-height: 1.8rem;
    margin:2rem;
	background-image: url("bg.jpg");
}
h1{
	font-size:2.8rem;
	line-height: normal;
}
h3{
	margin-top:1.2rem;
	margin-bottom:0.8rem;
}
ul,
li{
	margin-top:0px;
	margin-bottom:0px;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin: 0 0 0 3rem;
	font-size: 100%;
}
@media only screen
 and (max-width: 768px){
	[class*=column]{
		width: 100% !important;
	}
}